body {
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

label {
    font-weight: bold;
    float: right;
    clear: both;
}

input {
    margin-left: 15px;
}

button {
    margin: .5em;
    padding: .45em;
    font-size: 18px;
}

h5 {
    margin: 10px 0 0 0;
}

header {
    font-size: 1.5em;
    color: #aaa;
}

.controls {
    clear: both;
    width: 800px;
}
